* {
    margin: 0;
    /* Remove a margem padrão de todos os elementos */
    padding: 0;
    /* Remove o padding padrão de todos os elementos */
    box-sizing: border-box;
    /* Define o box-sizing como border-box para todos os elementos */
}



/* Pré definição do html e Fonte */
body,
html {
    height: 100%;
    /* Define a altura como 100% da altura da viewport */
    font-family: "Nova Square", sans-serif;
    /* Define a fonte padrão como 'Nova Square' */
    background-color: #000;
}

/* Header da Home */
header {
    display: flex;
    /* Define o layout como flexbox */
    justify-content: space-between;
    /* Distribui os itens com espaço entre eles */
    align-items: center;
    /* Alinha os itens ao centro verticalmente */
    width: 100%;
    /* Define a largura como 100% do elemento pai */
    height: 86px;
    /* Define a altura do header */
    background-color: rgba(0, 0, 0, 0.7);
    /* Define a cor de fundo como preto transparente */
    padding: 10px 20px;
    /* Define o padding (espaçamento interno) */
    position: fixed;
    /* Fixa o header no topo da página */
    top: 0;
    /* Posiciona o header no topo */
    z-index: 1;
    /* Define a ordem de empilhamento */
}

.logo {
    width: 300px;
    /* Define a largura da logo */
    margin-top: 30px;
    /* Define a margem superior da logo */
    margin-left: -70px;
}

nav ul {
    display: flex;
    /* Define o layout como flexbox */
    gap: 100px;
    /* Define o espaçamento entre os itens */
    list-style: none;
    /* Remove a estilização padrão de listas */
}

nav a {
    text-decoration: none;
    /* Remove a decoração do texto */
    color: white;
    /* Define a cor do texto como branco */
    font-size: 30px;
    /* Define o tamanho da fonte */
    margin-right: 20px;
    /* Define a margem direita */
}

/* Botão para Login e Cadastro */
.login-btn {
    width: 150px;
    /* Define a largura do botão */
    height: 40px;
    /* Define a altura do botão */
    font-size: 20px;
    /* Define o tamanho da fonte */
    font-family: "Nova Square", sans-serif;
    /* Define a fonte do botão */
    font-weight: bold;
    /* Define o peso da fonte como negrito */
    color: rgb(0, 0, 0);
    /* Define a cor do texto como preto */
    background-color: rgb(0, 255, 0);
    /* Define a cor de fundo como verde */
    border: none;
    /* Remove a borda */
    border-radius: 40px;
    /* Define bordas arredondadas */
    margin-right: 15px;
    /* Define margem do lado direito */
    cursor: pointer;
    /* Define o cursor como pointer (mãozinha) */
}

.main-container {
    position: relative; /* Importante para o posicionamento absoluto do .frase-container */
    width: 100%; /* Ajuste conforme necessário */
    height: auto; /* Ajuste conforme necessário */
}

.main-ft {
    display: block; /* Garante que a imagem ocupe o espaço disponível */
    width: 100%;
    height: auto;
}

.frase-container {
    position: absolute;
    bottom: 550px; /* Ajuste a posição vertical conforme necessário */
    left: 50px; /* Ajuste a posição horizontal conforme necessário */
    z-index: 10; /* Certifique-se de que a frase fique acima da imagem */
    color: white; /* Cor do texto */
    text-shadow: 1px 1px 2px black; /* Sombra para melhorar a legibilidade */
    font-family: "Nova Square", sans-serif; /* Define a fonte do botão */
}

.frase-main {
    position: relative;
    font-size: 5em; /* Ajuste o tamanho da fonte conforme necessário */
    font-weight: bold; /* Deixa o texto em negrito */
    line-height: 1.2; /* Ajusta o espaçamento entre linhas */
    text-align: left; /* Alinha o texto à esquerda */
    z-index: 1;
    
    
}

/* Menu responsivo */
.menu-icon {
    display: none;
    /* Esconde o ícone do menu */
    font-size: 30px;
    /* Define o tamanho da fonte */
    cursor: pointer;
    /* Define o cursor como pointer (mãozinha) */
    color: rgb(255, 255, 255);
    /* Define a cor do ícone como branco */
}

#videoModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza o modal */
    z-index: 200; /* Garante que o modal fique acima de todos os outros elementos */
    width: 80%; /* Ajuste a largura conforme necessário */
    max-width: 800px; /* Largura máxima do modal */
    background-color: rgba(0, 0, 0, 0.4); /* Fundo semi-transparente para efeito modal */
    padding: 20px; /* Espaçamento interno */
    /* Outros estilos que você já tiver para o modal */
}

.modal-content2 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Proporção 16:9 */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    color: #2bff00;
}


.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Container da Main */
.main-container {
    position: relative;
    /* Define o posicionamento relativo */
    margin-top: 0px;
    /* Para evitar sobreposição com o header fixo */
}

/* Foto de fundo da Home */
.main-ft {
    display: flex;
    /* Define o layout como flexbox */
    width: 100%;
    /* Define a largura como 100% do elemento pai */
    height: auto;
    /* Define a altura automática */
}

/*
Algumas instruções para por o texto e a imagem da propaganda da pagina sobre a foto da "main"!!!

.main-container: relativa; /* Define a posição relativa para que os elementos filhos possam ser posicionados em relação a ela.
.main-ft: Define a largura e altura da imagem principal.
.overlay: Define a posição absoluta para centralizar o contêiner que contém o texto e a imagem do logo.
.overlay .text: Define o estilo do texto, alinhando-o à esquerda.
.overlay .logo: Define o estilo da imagem do logo, alinhando-a à direita.
.overlay img: Define o tamanho da imagem do logo.
.overlay h2 e .overlay p: Define o estilo do texto sobreposto.
*/


/* Folder da Home */
.folder {
    position: absolute;
    /* Define o posicionamento absoluto */
    top: 45%;
    /* Posiciona o folder no centro vertical */
    left: 85%;
    /* Posiciona o folder no centro horizontal */
    transform: translate(-50%, -50%);
    /* Centraliza o folder */
    background-color: rgba(0, 0, 0, 0.7);
    /* Define a cor de fundo como preto transparente */
    color: rgb(255, 255, 255);
    /* Define a cor do texto como branco */
    padding: 40px;
    /* Define o padding (espaçamento interno) */
    border-radius: 10px;
    /* Define bordas arredondadas */
    text-align: center;
    /* Centraliza o texto */
    width: 20%;
    /* Define a largura como 80% do elemento pai */
    max-width: 600px;
    /* Define a largura máxima */
    height: 60%;
    max-height: 600px;

}

/* Botão para fechar o folder */
.folder .close-folder {
    position: absolute;
    /* Define o posicionamento absoluto */
    top: 10px;
    /* Posiciona o botão no topo */
    right: 10px;
    /* Posiciona o botão à direita */
    background-color: transparent;
    /* Define a cor de fundo como transparente */
    color: rgb(255, 255, 255);
    /* Define a cor do texto como branco */
    border: none;
    /* Remove a borda */
    font-size: 20px;
    /* Define o tamanho da fonte */
    cursor: pointer;
    /* Define o cursor como pointer (mãozinha) */
    margin-bottom: 20px;
    /* Espaçamento abaixo do botão de fechar */
}

.titulo-folder {
    color: #00ff00;
    /* Define a cor do texto como verde */
    margin-bottom: 15px;
    /* Espaçamento abaixo do título */
}

.folder .login-btn {
    margin-top: 20px;
    /* Espaçamento acima do botão de login */
}

.close:hover,
.close:focus {
    color: black;
    /* Define a cor do texto como preto ao passar o mouse ou focar */
    text-decoration: none;
    /* Remove a decoração do texto */
    cursor: pointer;
    /* Define o cursor como pointer (mãozinha) */
}

.modal form button:hover {
    background-color: #007400;
    /* Define a cor de fundo ao passar o mouse */
}

.toggle-link {
    text-align: center;
    /* Centraliza o texto */
    margin-top: 10px;
    /* Define a margem superior */
}

.toggle-link a {
    color: #000000;
    /* Define a cor do texto como preto */
    text-decoration: none;
    /* Remove a decoração do texto */
    font-weight: bolder;
    /* Define o peso da fonte como negrito */
}

.toggle-link a:hover {
    text-decoration: underline;
    /* Adiciona sublinhado ao passar o mouse sobre o link */
}

/*----------------------------------------------------------------------------------------------------------------------------------------------*/

/* Responsividade*/

/* Index */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .login-btn {
        margin-top: 10px;
    }

    .contact-info {
        flex-direction: column;
        align-items: center;
    }

    .modal-content2 {
        width: 90%;
    }
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .login-btn {
        margin-top: 10px;
    }

    .contact-info {
        flex-direction: column;
        align-items: center;
    }

    .modal-content2 {
        width: 90%;
    }

    .lado-esquerdo,
    .lado-direito {
        padding: 10px;
        text-align: center;
    }

    .carousel {
        flex-direction: column;
    }

    .carousel-box {
        min-width: 100%;
        margin-bottom: 10px;
    }
}

/* Faq */

@media (max-width: 768px) {
    .modal-content {
        width: 90%;
    }

    .faq-container {
        padding: 10px;
    }

    .faq-button {
        padding: 8px;
    }

    .faq-content {
        padding: 8px;
        font-size: 14px;
    }

    .modal-content {
        padding: 15px;
    }

    input[type="email"],
    input[type="password"],
    input[type="text"] {
        padding: 8px;
        font-size: 14px;
    }

    button[type="submit"] {
        padding: 8px;
        font-size: 14px;
    }
}

/*App*/

@media (max-width: 768px) {
    .modal-content {
        width: 90%;
    }

    .faq-container {
        padding: 10px;
    }

    .faq-button {
        padding: 8px;
    }

    .faq-content {
        padding: 8px;
        font-size: 14px;
    }

    .modal-content {
        padding: 15px;
    }

    input[type="email"],
    input[type="password"],
    input[type="text"] {
        padding: 8px;
        font-size: 14px;
    }

    button[type="submit"] {
        padding: 8px;
        font-size: 14px;
    }
}


@media (max-width: 768px) {
    .header-app {
        flex-direction: column;
        align-items: center;
    }

    .fonte {
        margin-top: 10px;
    }

    .nav {
        flex-direction: column;
        align-items: center;
    }

    .pecas {
        flex-direction: column;
        align-items: center;
    }

    .area-de-montagem,
    .video,
    .info {
        margin: 10px 0;
        max-width: 100%;
    }
}

